<!DOCTYPE html>
<html>
	<head>
		<title> Profile Page</title>
		<link rel="stylesheet" type="text/css" href="css.css">
		<link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<h1 style="color:white; text-align: center; padding-top: 0px; text-shadow: 0 0 30px black, 0 1px 0 rgba(0,0,0, .25)">ALMOST PERFECT</h1>
		<div style="width:600px;height:900px; margin:0 auto;border: 0px solid #000; background-color: rgba(255,255,255, .45)">
		  <h2 style="padding-left: 50px; padding-top: 10px">Profile of:</h2>
		  <section class="loginform cf" >  
    		    <form name="register" action="register_submit" method="get" accept-charset="utf-8">  
		      <ul>  
			<li><label for="last-name"><p style="color: #13130C">Last name</p></label>  
			  <input id="last-name-slot" type="text" name="last-name" placeholder="Mustermann" required size="40" readonly></li>   
			<li><label for="first-name"><p style="color: #13130C">First name</p></label>  
			  <input id="first-name-slot" type="text" name="first-name" placeholder="Peter" required size="40" readonly></li>  
			<li><label for="gender"><p style="color: #13130C">Gender</p></label>
			  <input id="gender-slot" type="text" name="gender" placeholder="Male" required size="40" readonly> </li>
			<li><label for="age"><p style="color: #13130C">Age</p></label>  
			  <input id="age-slot" type="text" name="age" placeholder="18" required size="40" readonly></li>  
			<li><label for="city"><p style="color: #13130C">City</p></label>  
			  <input id="city-slot" type="text" name="city" placeholder="Aachen" required size="40" readonly></li>  
			<li><label for="looking-for"><p style="color: #13130C">Looking for</p></label>
			  <input id="looking-for-slot" type="text" name="looking-for" placeholder="Female" required size="40" readonly> </li>
			<li><label for="description"><p style="color: #13130C">About yourself</p></label>  
			  <textarea id="description-slot" type="text" name="description" placeholder="I am ..." cols="52" rows="7" readonly></textarea></li>  
			<li><label for="hobbies"><p style="color: #13130C">Hobbies</p></label>
			  <input id="hobbies-slot" type="text" name="hobbies" placeholder="Sports, ..." required size="40" readonly></li>  
			<li>
			</li>  
			<li><label for="usermail"><p style="color: #13130C">Email</p></label>  
			  <input id="emails-slot" type="email" name="usermail" placeholder="yourname@email.com" required size="40" readonly></li>  
		      </ul>  
    		    </form>  
		  </section>  

		</div>

    	</div>
        <div style="display: inline-block; position: fixed; top: 0; bottom: 30; left: 60; right: 0; width: 100px; height: 100px; margin: auto;">
        <section class="registerform cf" >
            <form name="logout" action="logout" method="post" accept-charset="utf-8" >
	      <!-- TODO: navigation back -->
                    <input type="submit" value="logout">
            </form>
        </section>
	</body>
</html>
