<!DOCTYPE html>
<html>
  <head>
    <title> Registration Page</title>
    <link rel="stylesheet" type="text/css" href="css.css">
    <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <script type="text/javascript">
      function goBack() {
        window.history.back();
      }
    </script>
  </head>
  <body>
    <h1  align="center" style="color:white;text-shadow: 0 0 30px black, 0 1px 0 rgba(0,0,0, .25)">Registration</h1>
    <div style="width:600px;height:1000px; margin:0 auto; border: 0px solid #000; background-color: rgba(255,255,255, .45)">
<section class="loginform cf" >  
      <form name="register" action="register" method="get" accept-charset="utf-8">  
          <ul>  
            <li><label for="usermail"><p style="color: #13130C">Email</p></label>  
              <input type="email" name="usermail" placeholder="yourname@email.com" required size="40"></li>  
            <li><label for="password"><p style="color: #13130C">Password</p></label>  
              <input type="password" name="password" placeholder="password" required size="40"></li>  
            <li><label for="last-name"><p style="color: #13130C">Last name</p></label>  
              <input type="text" name="last-name" placeholder="Mustermann" required size="40"></li>   
            <li><label for="first-name"><p style="color: #13130C">First name</p></label>  
              <input type="text" name="first-name" placeholder="Peter" required size="40"></li>  
      <li><label for="gender"><p style="color: #13130C">Gender</p></label>
        <select name="gender" >
    <option>Male</option>
    <option>Female</option>
        </select> </li>
            <li><label for="age"><p style="color: #13130C">Age</p></label>  
              <input type="text" name="age" placeholder="18" required size="40"></li>  
            <li><label for="city"><p style="color: #13130C">City</p></label>  
              <input type="text" name="city" placeholder="Aachen" required size="40"></li>  
      <li><label for="looking-for"><p style="color: #13130C">Looking for</p></label>
        <select name="looking-for" >
    <option>Male</option>
    <option>Female</option>
        </select> </li>
            <li><label for="description"><p style="color: #13130C">About yourself</p></label>  
              <textarea type="text" name="description" placeholder="I am ..." cols="52" rows="7"></textarea></li>  
            <li><label for="hobbies"><p style="color: #13130C">Hobbies</p></label>
              <input type="text" name="hobbies" placeholder="Sports, ..." required size="40"></li>  
            <li>  
        <table border="0"  width="100%" cellspacing="50" >
    <tr>
      <td><input type="submit" value="Register" margin-right="100px"></td>
      <!-- TODO: navigation back -->
      <td><input type="submit" value="Back" onClick=goBack();></td>
    </tr>
        </table>
      </li>  
          </ul>  
      </form>  
      </section>  
    </div>

  </body>
</html>
